hr {
  display: block;
  margin-inline: auto;
  width: 90%;
  border-width: 2px;
  border-color: hsl(10, 79%, 65%);
  opacity: .05;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: end;

  div {
    h2 {
      font-size: 1.85rem;
    }
    p {
      padding-block: 0.25rem;
      opacity: 0.5;
    }
  }
}
